<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Nexus" connectionString="jqEbONyGO/8RkT+as++JfaZ4ylwmy/aZGa82fFg4DdVbJ0I+Asw6xpzfcpwx+yLzwkldXvoT8Y2RMXek/jwe/Xm0MxoaCOK9V3JPybfqLjsy9Dcb0FXoMDEZpFbA/S9810AU9flBpveHQ7XbGe/4LW0N9Hs+5r1wEdNDrj9fZ0g=" />
  </connectionStrings>
</configuration>